@import '@ukic/fonts/dist/fonts.css';
@import '@ukic/web-components/dist/core/core.css';

@import './theme.css';
@import 'tailwindcss';

/* 
For toggling dark mode manually through the use of settings.
https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually
*/
@custom-variant dark (&:where(.dark, .dark *));

/* Colour theme */
html.dark {
	color-scheme: dark;
}

html:not(.dark) {
	color-scheme: light;
}
