@import '@ukic/fonts/dist/fonts.css';
@import '@ukic/web-components/dist/core/core.css';

@import './theme.css';
@import 'tailwindcss';

/* 
For toggling dark mode manually through the use of settings.
https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually
*/
@custom-variant dark (&:where(.ic-theme-dark, .ic-theme-dark *));

/* Colour theme */
html:has(#themeWrapper.ic-theme-dark) {
	color-scheme: dark;
}

html:has(#themeWrapper.ic-theme-light) {
	color-scheme: light;
}
