@theme inline {
	/* text and fonts */
	--font-display: var(--ic-font-body-family);

	/* ICDS tokens */
	--color-icds-background-primary: var(--ic-color-background-primary);
	--color-icds-page-header-border: var(--ic-page-header-border);
	--color-icds-page-header-background: var(--ic-page-header-background);
	--color-icds-tree-view-hover: var(--ic-tree-view-hover);
	--color-icds-personality: var(--ic-theme-primary);
	--color-icds-hyperlink: var(--ic-color-link-default);
	--color-icds-hyperlink-hover: var(--ic-color-link-hover);
	--color-icds-warning: var(--ic-status-warning);
	--color-icds-warning-bg: var(--ic-status-error-background);
	--color-icds-error: var(--ic-status-error);
	--color-icds-error-bg: var(--ic-status-error-background);
	--color-icds-action: var(--ic-action-default);
	--color-icds-action-bg-hover: var(--ic-action-default-bg-hover);
	--color-icds-action-bg-hover-no-alpha: var(--ic-action-default-bg-hover-no-alpha);
	--color-icds-focus-glow: var(--ic-focus-glow);

	/* Architectural colours */
	--color-black: var(--ic-architectural-900);
	--color-gray-100: var(--ic-architectural-100);
	--color-gray-200: var(--ic-architectural-200);
	--color-gray-300: var(--ic-architectural-300);
	--color-gray-400: var(--ic-architectural-400);
	--color-gray-500: var(--ic-architectural-500);
	--color-gray-600: var(--ic-architectural-600);
	--color-gray-700: var(--ic-architectural-700);
	--color-gray-800: var(--ic-architectural-800);
	--color-gray-900: var(--ic-architectural-900);

	/* Spacing and breakpoints */

	--spacing-0.5: var(--ic-space-xxxs);
	--spacing-1: var(--ic-space-xxs);
	--spacing-2: var(--ic-space-xs);
	--spacing-3: var(--ic-space-sm);
	--spacing-4: var(--ic-space-md);
	--spacing-6: var(--ic-space-lg);
	--spacing-8: var(--ic-space-xl);
	--spacing-12: var(--ic-space-xxl);

	/* 
        As of Jan 2025, CSS variables cannot be used inside media queries. Despite
        these being available via ICDS' design tokens, we still need to use pixel values
        directly here. Relevant GH issue here -> https://github.com/tailwindlabs/tailwindcss/discussions/15113
    */
	--breakpoint-xs: 0; /* --ic-breakpoint-xs */
	--breakpoint-sm: 576px; /* --ic-breakpoint-sm */
	--breakpoint-md: 768px; /* --ic-breakpoint-md */
	--breakpoint-lg: 992px; /* --ic-breakpoint-lg */
	--breakpoint-xl: 1200px; /* --ic-breakpoint-xl */
	--breakpoint-2xl: 1536px;
}
